<body id="project_body">
    <div class="container">
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/proj_myfit_cropped_again.jpg", alt: "MyFit Image", :class => "project_image" %>
          </div>
          <h2>MyFit</h2>
           <p>Your own personal fitness repository.</p>
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/DAD.jpg", alt: "DAD Image", :class => "project_image" %>
          </div>
          <h2>Digital Armored Defense</h2>
           <p>Automatic crash avoidance system</p>
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/tj_logo180x180.png", alt: "TopJam Logo", :class => "project_image" %>
          </div>
          <h2>TopJam</h2>
           <p>A Democratic Music Party Application.</p>
        </div>
      </div>
      <div class="more">
        <p>...</p>
      </div>
    </div>
</body>
