<body id="project_body">
    <div class="container">
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/proj_myfit_cropped_again.jpg", alt: "MyFit Image", :class => "project_image" %>
          </div>
          <h2>MyFit</h2>
           <p>Your own personal fitness repository.</p>
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/proj_myfit_cropped_again.jpg", alt: "MyFit Image", :class => "project_image" %>
          </div>
          <h2>MyFit</h2>
           <p>Your own personal fitness repository.</p>
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/proj_myfit_cropped_again.jpg", alt: "MyFit Image", :class => "project_image" %>
          </div>
          <h2>MyFit</h2>
           <p>Your own personal fitness repository.</p>
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <div class="project_image">
            <%= image_tag "/images/proj_myfit_cropped_again.jpg", alt: "MyFit Image", :class => "project_image" %>
          </div>
          <h2>MyFit</h2>
           <p>Your own personal fitness repository.</p>
        </div>
      </div>
    </div>
</body>
