<body id="project_body">
    <div class="container">
      <div class="floating_box">
        <div class="box_content">
          <h2>MyFit</h2>
           MyFit is your own personal fitness repository
           that allows you to keep track of all of your fitness progress and statistics.
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <h2>MyFit</h2>
           MyFit is your own personal fitness repository
           that allows you to keep track of all of your fitness progress and statistics.
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <h2>MyFit</h2>
           MyFit is your own personal fitness repository
           that allows you to keep track of all of your fitness progress and statistics.
        </div>
      </div>
      <div class="floating_box">
        <div class="box_content">
          <h2>MyFit</h2>
           MyFit is your own personal fitness repository
           that allows you to keep track of all of your fitness progress and statistics.
        </div>
      </div>
    </div>
</body>
