<div class="section">
    <div class ="content">
        <h1 id="top">about me</h1>

          <div class ="important_content">
            I'm a computer science major graduating from CSU Chico in May of 2016.
          </div>

          <div class="main_content">
            I'm a member of Upsilon Pi
            Epsilon (UPE), the computer science honors society at Chico State, and I also belong to the Association
            for Computing Machinery (ACM). If I'm not coding or talking with my peers about innovative ideas, I'll
            be in the gym lifting weights, playing basketball, or watching Kawhi Leonard and the San Antonio Spurs
            dominate on the hardwood.
          </div>
    </div>
</div>
<div class="section skills">
    <div class="content">
      <h1>skills</h1>
      testing
      testing
    </div>
</div>
