<div class ="aboutme_content">
    <h1>about me</h1>
    <p>I am an extremely driven individual that will be graduating in May of 2016.
      I am currently seeking a software development engineering position with an innovative company
      where I can provide value to the company while growing my knowledge. I am a proven leader, which
      I feel I have proven throughout my life, and continue to do so today. I love to work in a
      fast paced environment where I can show off my quick wit and apply my focus and determination
      to solve complex problems. It is this drive and focus that I would like to bring to bear on the
      remainder of my education as I venture into my future career.
    </p>
</div>
