<div class="section">
    <div class ="content">
        <h1 id="aboutmeh1">about me</h1>
          <div class ="important_content">
            I'm a computer science major graduating from CSU Chico in May of 2016.
          </div>

          <div class="main_content">
            I love solving complex problems with sleek, innovative solutions. If I'm not
            coding, you'll find me in the gym lifting weights, shooting hoops, or watching the
            San Antonio Spurs.
          </div>
    </div>
</div>
<div class="section">
  <div class="background">
    <div class="content">
      <h1>Half Athlete</h1>
      <h1>Half Developer</h1>
      testing
      testing
    </div>
  </div>
</div>

<div class="section">
    <div class="content">
      <h1>Skills</h1>
      testing
      testing
    </div>
</div>

<div class="section">
  <div class="background">
    <div class="content">
      <h1>Interests</h1>
      testing
      testing
    </div>
  </div>
</div>
