<div class="aboutmepage">
<div class="section">
    <div class ="content aboutmecontent">
        <h1 id="aboutmeh1">about me</h1>
          <div class ="important_content">
            I'm a computer science major graduating from CSU Chico in May of 2016.
          </div>

          <div class="main_content">
            I love solving complex problems with sleek, innovative solutions. If I'm not
            coding, you'll find me in the gym lifting weights, shooting hoops, or watching the
            San Antonio Spurs.
          </div>
    </div>
</div>
<div class="section gray">
    <div class="content">
      <div class="athlete">
        <h1>Half Athlete</h1>
        <ul>
          <li>Strict Diet</li>
          <li>Weight Training</li>
          <li>Cardio</li>
          <li>Stretching/Recovery</li>
          <li>Basketball</li>
          <li>Outdoors/Hiking</li>

        </ul>
      </div>
      <div class="chart">
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%= pie_chart({"Developer" => 0.5, "Athlete" => 0.5}, colors: ["gray", "black"], library: {backgroundColor: "#f7f7f7", pieSliceText: 'label', pieSliceTextStyle: {color: "white", fontName: "Open Sans", fontSize: 24}, legend: {position: "none"}, chartArea: {left:0, right:0, bottom:5,top:5,width:'100%',height:'100%'}}) %>
      </div>
      <div class="developer">
        <h1>Half Developer</h1>
        <ul>
          <li>Back/Front End Development</li>
          <li>AWS</li>
          <li>C/C++</li>
          <li>HTML</li>
          <li>CSS/SASS</li>
          <li>Ruby/Ruby on Rails</li>
        </ul>
      </div>
    </div>
</div>

<div class="section">
    <div class="content skills">
      <h1>My Technical Skills</h1>
      <div class="skillschart">
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
        <%  data = [
          {
            data: [["C/C++", 10], ["Java", 24], ["HTML/CSS", 24], ["Ruby on Rails", 24], ["Amazon Web Services", 10]]
          }

                  ] %>
        <%= column_chart data, colors: ["gray", "black", "red", "blue", "green"], library: {legend: {position: "none"}, chartArea: {left:"auto", right:0, bottom:"auto",top:5,width:'95%',height:'90%'}}  %>
    </div>
  </div>
</div>

<div class="section gray">
    <div class="content interestscontent">
      <h1>My Interests</h1>
      <ul>
        <li>Fitness</li>
        <li>Weight Lifting</li>
        <li>Coding</li>
        <li>Basketball</li>
        <li>Motorcycles</li>
        <li>Outdoors</li>
        <li>Video Games</li>
      </ul>
    </div>
</div>
</div>
