<div class="nav_bar">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About Me", root_path %></li>
    <li><%= link_to "Projects", root_path %></li>
    <li><%= link_to "Fitness", root_path %></li>
  </ul>
</div>
