<div class="nav_bar">
  <ul>
    <li><%= link_to "HOME", root_path %></li>
    <li><%= link_to "ABOUT ME", "/aboutme" %></li>
    <li><%= link_to "PROJECTS", root_path %></li>
    <li><%= link_to "FITNESS", root_path %></li>
  </ul>
</div>
