/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*
  * Application Style
  */

 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, caption {
   margin: 0;
   padding: 0;
   border: 0;
 }

body {

  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Work Sans', sans-serif;*/
}
.container {
  margin: 80px 4.5%;
}



/*
 * Nav Bar Style
 */

.navbar-header {
  padding-right: 7%;
  padding-left: 4.5%;
}

.navbar-middle {
  //padding-top: 5px;
}

.navbar-right {
  margin: 0;
  padding: 0;
  margin-top: -2px;
  padding-right: 4.0%;

}

.navbar .navbar-nav {
   text-align: center;
   display: inline-block;
   float: none;
   vertical-align: top;
}

.navbar .navbar-collapse {
   text-align: center;
}

/* navbar */
.navbar-default {
    height: 100px;
    font-size: 20px;
    background-color: black;
    border-color: black;
}
/* title */
.navbar-default .navbar-brand {
    //margin-top: -10px;
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: gray;
}

/* link */
.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: gray;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: gray;
    height: 80px;
    background-color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*
 * About Me Style
 */

.profile_box {
  margin: 10px 2.5%;
  background-color: grey;
  border: 1px solid black;
}

.profile_box .box_content {
  margin: 0.1em 0.3em 0.3em 0.3em;
  padding: 0.3em;
  font-size:18px;
}

.profile_box .box_content h1 {
  font-size: 34px;
  margin-bottom: 0.3em;
}
