/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*
  * Application Style
  */

 html, body, div, span, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre, caption {
   margin: 0;
   padding: 0;
   border: 0;
 }

body {

  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Work Sans', sans-serif;*/
}
.my_container {
  margin: 90px 0 0 0;
  padding: 0;
}

.container {
  margin: 110px 6% 0 6%;
  padding: 0;
}



/*
 * Nav Bar Style
 */

.navbar-header {
  padding-right: 7%;
  padding-left: 4.5%;
}

.navbar-middle {
  //padding-top: 5px;
}

.navbar-right {
  margin: 0;
  padding: 0;
  margin-top: -2px;
  padding-right: 4.0%;

}

.navbar .navbar-nav {
   text-align: center;
   display: inline-block;
   float: none;
   vertical-align: top;
}

.navbar .navbar-collapse {
   text-align: center;
}

/* navbar */
.navbar-default {
    height: 100px;
    font-size: 20px;
    background-color: black;
    border-color: black;
}
/* title */
.navbar-default .navbar-brand {
    //margin-top: -10px;
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: gray;
}

/* link */
.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: gray;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: gray;
    height: 80px;
    background-color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*
 * About Me Style
 */

.section {
  width: 100%;
  margin: 0;
  padding: auto;
  border-bottom: 1px solid #f1f1f1;
}

.aboutmecontent {
  width: 31%;
  padding: auto;
}

.content {
  //width: 33%;
  margin: 0 8% 0 10%;
  padding: auto;
  font-family: 'Open Sans', sans-serif;
}

.chart {
  float: left;
  width: 42%;
  //background-color: red;
  padding: 0;
  padding-top: 12%;
  margin: 0;
  margin-left: -10px;
  overflow: hidden;
}

.athlete {
  float: left;
  padding: auto;
  width:25%;
  margin: auto;
  //margin-right: 30px;
  color: dimgray;
  font-weight: 300;
}

.developer {
  float: right;
  padding: auto;
  width: 33%;
  margin: auto;
  color: dimgray;
  font-weight: 300;
}

.gray {
  //height: 100%;
  height: 550px;
  background-color: #f7f7f7;
  font-size: 24px;
  font-weight: 300;
  color: dimgray;
}

.interestscontent {
  padding-bottom: 20px;
}

.content h1 {
  margin: 0 0 .3em 0;
  padding-top: 3em;
  font-weight: 400;
  //font-weight: bold;
  font-size: 36px;
  color: black;
}

#aboutmeh1 {
  margin: 1.8em 0 .2em 0;
  padding: 0;
  font-weight: bold;
  font-size: 74px;
}

.section ul {
  margin: 0;
  padding: 0;
  //padding-bottom: 20px;
}

.section ul li {
  list-style-type: none;
  padding-bottom: .35em;
}

.content  .important_content {
  margin: 0 0 1em 0;
  color: dimgray;
  font-weight: 300;
  font-size: 24px;
}

.skillschart {
  margin: .8em 0 6em 10%;
  overflow: hidden;
}

.content  .main_content {
  margin: 0 0 5em 0;
  color: dimgray;
  font-weight: 300;
  font-size: 20px;
}

.levels {
  float: left;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  width: 10%;
}

.levels li {
  //margin: 10px;
  margin-bottom: 42px;
  margin-top: -9px;
  padding: 0;
  //padding-bottom: 100px;
}

#skillsh1 {
  text-align: right;
}


/*
 * Projects style
 */

#project_body{
  background-color: #fbfbfb !important;
}

 .floating_box {
    float: left;
    width: 29%;
    height: 45%;
    margin: 1.5%;
    padding: 0;
    background-color: white;
    border: 1.5px solid #e6e6e6;
    border-radius: 5px;
    overflow: hidden;
}

.box_content {
  padding: .8em;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
}

.floating_box h2 {
  padding-bottom: .2em;

}
